/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@import 'ngx-toastr/toastr';



.modal-backdrop {
   position: relative;
   z-index: -1;

   position: fixed; 
   top: 50vh;
   left: 50vw;
   transform: translate(-50%,-50%);
   height: 400px; 
   width: 600px;
   background-color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 /* font */
 h2,h1,h4,
 h3,
 h5,
a,
h4,
p,
label,
input,
button,
span,select, option , form, textarea{
   font-family: "Cairo", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;

}

table th{
   cursor: default;
}

div .dropdown-menu{
   cursor: default;
}




/* Drop and Drag File */
/* Customizing the ngx-file-drop component */
   .ngx-file-drop__content {
      border: 3px dotted gainsboro;
      background-color: none;
      padding: 20px;
      border-radius: 10px;
      transition: background-color 0.2s ease-in-out;
      color: black !important;
      position: relative;
      height: 75px !important;
   }
   .ngx-file-drop__content:hover{
      background-color: rgba(211, 211, 211, 0.416);
      cursor: pointer;
   }
   .ngx-file-drop__drop-zone{
      border: none !important;
      height: 75px !important;
   }
   .ngx-file-drop__drop-zone--over{
      border-radius: 10px !important;
   }



   /* Fixed Column and Direction */
   .fixed-right{
      width: 80px;
      text-align: right;
   } 